{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "globals": {
    "window": true,
    "document": true,
    "console": true,
    "require": true
  },
  "rules": {
    "no-console": "off",
    "quotes": [2, "single"]
  }
}