/* merriweather-regular - cyrillic_latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../font/merriweather/merriweather-v21-cyrillic_latin-regular.eot');
  src: local('Merriweather Regular'), local('Merriweather-Regular'),
  url('../font/merriweather/merriweather-v21-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'),
  url('../font/merriweather/merriweather-v21-cyrillic_latin-regular.woff2') format('woff2'),
  url('../font/merriweather/merriweather-v21-cyrillic_latin-regular.woff') format('woff'),
  url('../font/merriweather/merriweather-v21-cyrillic_latin-regular.ttf') format('truetype'),
  url('../font/merriweather/merriweather-v21-cyrillic_latin-regular.svg#Merriweather') format('svg');
}

/* merriweather-900 - cyrillic_latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: url('../font/merriweather/merriweather-v21-cyrillic_latin-900.eot');
  src: local('Merriweather Black'), local('Merriweather-Black'),
  url('../font/merriweather/merriweather-v21-cyrillic_latin-900.eot?#iefix') format('embedded-opentype'),
  url('../font/merriweather/merriweather-v21-cyrillic_latin-900.woff2') format('woff2'),
  url('../font/merriweather/merriweather-v21-cyrillic_latin-900.woff') format('woff'),
  url('../font/merriweather/merriweather-v21-cyrillic_latin-900.ttf') format('truetype'),
  url('../font/merriweather/merriweather-v21-cyrillic_latin-900.svg#Merriweather') format('svg');
}



/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../font/lato/lato-v16-latin-regular.eot');
  src: local('Lato Regular'), local('Lato-Regular'),
  url('../font/lato/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'),
  url('../font/lato/lato-v16-latin-regular.woff2') format('woff2'),
  url('../font/lato/lato-v16-latin-regular.woff') format('woff'),
  url('../font/lato/lato-v16-latin-regular.ttf') format('truetype'),
  url('../font/lato/lato-v16-latin-regular.svg#Lato') format('svg');
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../font/lato/lato-v16-latin-700.eot');
  src: local('Lato Bold'), local('Lato-Bold'),
  url('../font/lato/lato-v16-latin-700.eot?#iefix') format('embedded-opentype'),
  url('../font/lato/lato-v16-latin-700.woff2') format('woff2'),
  url('../font/lato/lato-v16-latin-700.woff') format('woff'),
  url('../font/lato/lato-v16-latin-700.ttf') format('truetype'),
  url('../font/lato/lato-v16-latin-700.svg#Lato') format('svg');
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../font/lato/lato-v16-latin-900.eot');
  src: local('Lato Black'), local('Lato-Black'),
  url('../font/lato/lato-v16-latin-900.eot?#iefix') format('embedded-opentype'),
  url('../font/lato/lato-v16-latin-900.woff2') format('woff2'),
  url('../font/lato/lato-v16-latin-900.woff') format('woff'),
  url('../font/lato/lato-v16-latin-900.ttf') format('truetype'),
  url('../font/lato/lato-v16-latin-900.svg#Lato') format('svg');
}